* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #124559;
    font-family:'Roboto', Arial, sans-serif;
    color: #01161E;
}

.header {
    border: 20px;
    padding: 20px;
    background-color: white;
    color: #01161E;
    display: flex;
    width: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}

article {
    height: 800px;
    width: 800px;
    border: 2px solid green;
}

nav {
    font-size: 20px;
    margin-left: 80px;
    /* align-items: flex-end; */
}

div {
    display: flex;
}

.headshot {
    justify-content: flex-start;
}

.navlinks {
    display: flex;
}

li {
    list-style: none;
    margin: 10px;
}

div {
    margin: 10px 0;
}

.about-me {
    display: flex;
    justify-content: space-around;
    /* margin: 20px 0; */
}

h2{
    margin: 20px 0;
}

p {
    border: 2px solid pink;
    width: 800px;
}

main {
    display: flex;
    justify-content: space-around;
}

.work {
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    padding: 20px;
    border-top: 20px;
    text-align: center;
    background-color: white;
    position: relative;
    margin-top: 300px;
}
