* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Roboto', Arial, sans-serif;
    color: #01161E;
    background-image: linear-gradient(to bottom right, #1e130c, #9a8478);
    }

header {
    border: 20px;
    padding: 20px;
    color: #01161E;
    display: flex;
    width: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}

main {
    padding: 200px;
}

nav {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 175px;
    width: 350px;
}

div {
    display: flex;
}

.headshot {
    justify-content:space-around;
    height: 110px;
    width: auto;
    border-radius: 40px;
}

.navlinks {
    display: flex;
}

li {
    list-style: none;
    margin: 10px;
}

div {
    margin: 10px 0;
}

.about-me {
    display: flex;
    justify-content: space-around;

}

h1 {
    display: flex;
    align-items: center;
}

h2{
    margin: 20px 0;
}

p {
    width: 800px;
}

img {
    height: 50px;
    width: 50px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    height: 200px;
    width: 800px;
}

.contact-me {
    display: flex;
    justify-content: center;
}

.contact-link {
    display:flex
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-image-1 {
    height: 200px;
    width: 150px;
}

.work-image {
    height: 300px;
    width: 250px;
}


@media screen and (max-width: 762px) {
    main {
      width: 100%;
    }
    /* header {
      background: #772014;
    } */
  }